/* Styles pour la page de connexion */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 5%;
  }
  
  .login-form {
    background-color: #fff;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 1.2rem;
    color: #555;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: calc(100% - 22px); /* 10px de padding + 2px de bordure de chaque côté */
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    font-family: 'Poppins';
  }

  .login-button {
    background-color: #DD7F27;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
  }
  
  .login-button:hover {
    background-color: #DD7F27;
  }
  
  /* Styling for links within the button */
  .login-button a {
    color: white;
    text-decoration: none;
  }
  
  .login-button a:hover {
    text-decoration: underline;
  }

  .orange {
    color: black;
    text-decoration: none; /* Enlève le soulignement par défaut des liens */
    transition: color 0.3s ease; /* Ajoute une transition pour un effet fluide */
  }
  
  .orange:hover {
    color: #DD7F27;
    cursor: pointer;
  }