/* Styles pour le formulaire */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eae8e8a0;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 110vh;
  }
  
  .form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-group label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  /* Style pour les boutons et liens */
  .form-button a {
    color: white;
    text-decoration: none;
  }
  
  .form-button a:hover {
    text-decoration: underline;
  }
  