/* Style global pour la page de profil utilisateur */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
  }
  
  /* Style pour le conteneur principal */
  div {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le titre de la page */
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style pour les sections "Paramètres du compte" et "Historique des alertes" */
  h2 {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Style pour les détails du compte utilisateur */
  p {
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
  }
  
  /* Style pour la liste des alertes */
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  /* Style pour chaque élément de la liste d'alertes */
  li {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  /* Style pour le dernier élément de la liste d'alertes (sans bordure inférieure) */
  li:last-child {
    border-bottom: none;
  }
  