/* User.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.centered-user {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .Map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%; 
  width: 40%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc; 
}

.content-editable-container {
  text-align: left;
  white-space: pre-wrap; /* Permettre le retour à la ligne */
  overflow-y: auto; /* Activer le défilement vertical si le texte dépasse la hauteur spécifiée */
  border: 1px solid #ccc; /* Ajoutez une bordure si nécessaire */
  padding: 10px; /* Ajoutez un peu de rembourrage pour l'espace intérieur */
  min-height: 100px; /* Hauteur minimale */
  max-height: 200px; /* Hauteur maximale si vous souhaitez limiter la hauteur */
}

.custom-input {
  background-color: #fff; /* Couleur de fond du champ d'entrée */
  color: #333; /* Couleur du texte */
  border-radius: 10px;
  text-align: left;
  border: none;
  /* Ajoutez d'autres styles selon vos préférences */
}

.custom-input:focus {
  outline: none;
}

.custom-button {
  width: 20%;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.custom-input::placeholder {
  line-height: 1.5;
}

.button1 {
  background: linear-gradient(to bottom, #298de4, #14ce4c);
  border: none;
  font-family: 'Poppins';
}

.button2 {
  border: 1px solid #298de4;
  font-family: 'Poppins';
}
  
  /* Ajoutez d'autres styles si nécessaire */
  