/* User.css */
.centered-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Cela assure que le composant est centré verticalement sur toute la hauteur de la vue */
  }
  
  .Map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  /* Ajoutez d'autres styles si nécessaire */
  